$bg--bb2: #bb2339;
$bg--fff: #ffffff;
$bg--24: #242424;
$bg--333: #333333;
$bg--f4: #f4f4f4;
$bg--80: #808080ba;




$white: white;
$gray:#606060 ;
$lightGreen: #70C05B;
$lightGray:#BFBFBF ;

$dark-teal:#414141 ;
$main-bg:rgb(251, 248, 236);
$coral: #FF6633;
$first:#FCD5BA;
$second:#E5FFDE;

